/* google fonts start*/
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Saira&display=swap');
/* google fonts end*/

body{
  background:#222;
}
.form-control{
  border-radius:0px;
  border:0px;
}
.font-primary{
  font-family: 'Kaushan Script', cursive;
}
.font-secondary{
  font-family: 'inter', sans-serif;
}
.form-area{
  border:1px solid #fff;
}